<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<div id="box">
			姓: <input type="text" placeholder="First Name" v-model="firstName"><br>
			名: <input type="text" placeholder="Last Name" v-model="lastName"><br>
			<!--fullName1是根据fistName和lastName计算产生-->
			姓名1(单向): <input type="text" placeholder="Full Name1" v-model="fullName1"><br>
			姓名2(单向): <input type="text" placeholder="Full Name2" v-model="fullName2"><br>
			姓名3(双向): <input type="text" placeholder="Full Name3" v-model="fullName3"><br>
			<p>{{fullName1}}</p>
			<p>{{fullName1}}</p>
			<p>{{fullName1}}</p><!-- 计算属性执行一遍，初始化，缓存 -->
		</div>
		<script type="text/javascript" src="../js/vue.js"></script>
		<script type="text/javascript">

				const vm = new Vue({
					el:"#box",
					data: {
					  firstName: 'A',
					  lastName: 'B',
					  fullName2: 'A-B'
					},
					computed:{
						fullName1(){
							console.log('fullName1')
							return this.firstName+" "+this.lastName
						},
						fullName3:{
							get(){
								return this.firstName+"-"+this.lastName
							},
							set(value){
								const names = value.split("-")
								this.firstName = names[0]
								this.lastName = names[1]
							}
						}
					},
					watch:{
						firstName:function(value){
							// console.log(this);//this就是vm对象
							this.fullName2 = value + '-' +this.lastName;
							
						}
					},
				})
				vm.$watch('lastName',function(value){
					this.fullName2 = this.firstName + ' ' + value
				})
			</script>
	</body>
</html>
